h1{
	font-family: 'Raleway', sans-serif;
}
.container-fluid {
	left: 10px;
	height: 420px;
	width: 420px;
	background-color: black;
	box-shadow: 3px 3px #888888;
	border-radius: 50px; 
justify-content: center;
	align-content: center;
	position: absolute;
	font-size: 25px;
	padding-left: auto;
	color: white;
}
body
{
	margin: 0px;
	padding: 0px;
	background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: no-repeat;
background-attachment: fixed;

}